
.wrapper {
    background: white;
    margin: 0;
    position: relative;
    overflow: hidden;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0;
    transform: scale(0.95);
    transition: box-shadow 0.5s, transform 0.5s;
}
.wrapper:hover {
    transform: scale(1);
    box-shadow: 5px 20px 30px rgba(0, 0, 0, 0.2);
}

.wrapper .bottom {
    transition: transform 0.5s;
}

.wrapper .bottom h1 {
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
}
.wrapper .bottom h3 {
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
}

/* .wrapper .bottom .details {
    padding: 3%;
    float: left;
} */

/* .wrapper .inside {
    z-index: 9;
    background: #92879b;
    width: 30%;
    height: 30%;
    position: absolute;
    top: -70px;
    right: -70px;
    border-radius: 0px 0px 200px 200px;
    transition: all 0.5s, border-radius 2s, top 1s;
    overflow: hidden;
}
.wrapper .inside .icon {
    position: absolute;
    right: 85px;
    top: 85px;
    color: white;
    opacity: 1;
}
.wrapper .inside:hover {
    width: 100%;
    right: 0;
    top: 0;
    border-radius: 0;
    height: 80%;
}
.wrapper .inside:hover .icon {
    opacity: 0;
    right: 15px;
    top: 15px;
}
.wrapper .inside:hover .contents {
    opacity: 1;
    transform: scale(1);
    transform: translateY(0);
}
.wrapper .inside .contents {
    padding: 5%;
    opacity: 0;
    transform: scale(0.5);
    transform: translateY(-200%);
    transition: opacity 0.2s, transform 0.8s;
}
.wrapper .inside .contents table {
    text-align: left;
    width: 100%;
}
.wrapper .inside .contents h1, .wrapper .inside .contents p, .wrapper .inside .contents table {
    color: white;
}
.wrapper .inside .contents p {
    font-size: 13px;
} */

/* background: #f1f1f1;
transition: background 0.5s;
border-left:solid thin ; */